.product-listing {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
    grid-area: listing;
  }
  @media (max-width: 550px) {
    /* Phones */
  
    .product-listing {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      grid-area: listing;
      place-items: center;
    }
  }
  