.quantity>input{
    width: 1.5rem;

}
.quantity{
    margin: 1rem;
}
.bill{
    padding: 1rem;
    max-width: 30rem;
    box-shadow: var(--shadow);
}
.bill-item{
    display: flex;
    justify-content: space-between;
}
.cart{
    display: flex;
    justify-content: space-around;
}