html {
    --cta-light:#fbcfe8;
    --border:#e5f0f0;
    height: 100%;
}

.hero-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 0;
    background-image: linear-gradient(to right, #ff1b6b, #45caff);

}

.hero-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.btn-cta {
    margin: 0rem auto;
    border: none;
    width: fit-content;
    padding: 0.3rem 0.6rem;

}

.hero-brand {
    color: var(--white);
}

.categories {
    width: 70%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}


.text-over {
    background-color: var(--cta-light);
    color: var(--cta);
    width: 100%;
    position: relative;
    top: -5rem;
    text-align: center;
}

.categories-card {
    /* border: 2px solid var(--border); */
    background-color: #FBCFE8;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: var(--cta);
}
.catrgory-image{
    border-radius: 8px;
}
.category-link{
    text-decoration: none;
}
.category-link:visited{
    color: inherit;
}


.special {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1100px) {
    html {
        font-size: 75%;
    }

    /* Tablets */
    .search-bar {
        display: none;
    }

    .categories {

        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .hero-img {
        display: none;
    }

    .hero-txt {
        max-width: 70%;
    }

    .special {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

    }

    .categories-card {
        margin-bottom: 1rem;

    }
}


@media(max-width:550px) {
    html {
        font-size: 62.5%;
    }

    .search {
        display: none;
    }

    .special {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .horizontal-card>img {
        max-width: 150px;
        object-fit: cover;
    }


    .categories {

        grid-template-columns: 1fr;
        place-items: center;
    }

    .hero-img {
        display: none;
    }

    .hero-txt {
        max-width: 70%;
    }



    .categories-card {
        margin-bottom: 1rem;
        padding: 2rem;
    }
}