.search-bar {
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #dfdbdb;
  }
  .search-bar > input {
    border: none;
    outline: none;
    background-color: #dfdbdb;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .icon {
    color: var(--cta);
    margin-left: 1rem;
    font-size: 2rem;
  }
  @media (max-width: 1100px) {
   
    /* Tablets */
    .search-bar {
      display: none;
    }
  }
  
  @media (max-width: 550px) {
   
    .search-bar{
      display: none;
    }
  }  