.form-grp {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  margin: auto;
  align-items:center;
}
.form-grp > input {
  font-size: 1rem;
  border: 2px solid var(--cta);
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin: 0.3rem auto;
  align-self: flex-start;
}
.form-grp >label{
  align-self: flex-start;
}
.error{
  margin: 0.3rem auto;
  color: red;
  max-width: 15rem;
}
.display {
  max-width: fit-content;
}
.form-grp > button {
  margin: 0.3rem auto;
  width: 100%;
}

.form-accept {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  accent-color: var(--cta);
  align-items: center;
}
.form-accept-signup {
  accent-color: var(--cta);
}
.login-link {
  text-decoration: none;
  color: var(--cta);
}
.login-link:visited {
  text-decoration: none;
  color: var(--cta);
}
.form-accept > a {
  text-decoration: none;
}
.form-container {
  max-width:20rem ;
}
