@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
  --dark-bg:#0f172a;
  --white:#fff;
}
.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  /* background-color: var(--dark-bg);
  color:var(--white) */
}
@media (max-width: 1100px) {
  /* Tablet */
  html {
    font-size: 75%;
  }
}


@media (max-width: 550px) {
  /* Mobile */
  html {
    font-size: 62.5%;
  }
 
}  